
.bg{
    min-height : 90vh;
}
@media (min-width: 1025px) {
    .h-custom {
    height: 100vh !important;
    }
    }

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
} 
